fastapi==0.95.1
uvicorn==0.22.0
lexnlp==2.3.0
nltk==3.9.1

# LexNLP pinned sub-dependencies to prevent metadata-generation errors
Unidecode==1.3.6
beautifulsoup4==4.11.1
cloudpickle==2.2.0
dateparser==1.1.3
elasticsearch==8.5.0
gensim==4.1.2
numpy==1.24.4
scipy==1.10.1
pandas==1.5.3
spacy==3.5.1
